/*--------------------------------------
	partner style
----------------------------------------*/
.partners-section{
	padding: 65px;
	background: $bg_gray_deep;
	#parnar_carousel .owl-item img{
		width: auto;
	}
}