
//FONT FAMILY 

$Montserrat_font : 'Montserrat', sans-serif;
$Open_Sans_font : 'Open Sans', sans-serif;

$base_font_size: 13px;
$secondary_font_size: 14px;

$base_line_height: 24px;
$secondary_line_height: 28px;
$text_line_height: 23px;

//COLOR

$primary_color: #656565;
$gray_color: #8c8c8c;
$lite_gray: #878787;
$deep_gray: #a1a3a5;
$black_color: #000;
$deep_black: #2e2e2e;
$lite_black: #2d2d2d;
$white_color: #fff;
$lite_blue: #3598db;

$title_color: #727376;
$subtitle_color: #656565;
$blockquote_color: #818181;
$highlight_color: #545454;
$comment_color: #787878;
$meta_color: #949494;
$footer_color: #b5b5b5;
$breadcrumb_color: #a8a8a8;
$service_title_color: #3a3a3a;

//SECTION BACKGROUND

$body_bg: #fff;
$bg_white: #fff;
$bg_blue: #3598db;
$bg_gray: #f6f6f6;
$bg_gray_lite: #f4f4f4;
$bg_gray_deep: #ebebeb;
$bg_lite_dark: #ddddd9;
$transparent_bg: transparent;

//SOCIAL

$facebook_bg: #3b5998;
$twitter_bg: #00aced;
$google_plus_bg: #181818;
$youtube_bg: #fe3232;

//PADDING

$section_padd: 150px 0;
$padd_vrtl_100: 100px 0;
$padd_100: 100px;
$padd_80: 80px;
$padd_60: 60px;
$padd_40: 40px;
$padd_20: 20px;
$padd_30: 30px;
$post_block_padd: 25px;

$bg_sub_header: url(../../images/bg_sub_header.jpg);